
.DS_Store
.DS_Store
.DS_Store
Lab_2/.DS_Store
Lab_2/codifica_4bit/.DS_Store
Lab_2/codifica_4bit/syn/.DS_Store
Lab_2/codifica_4bit/syn/report/.DS_Store
Lab_2/codifica_alternativa_3_bit/.DS_Store
Report/.DS_Store
Report/img/.DS_Store
Report/img/Lab_2/Datapath.PNG
